@charset "UTF-8";

@import url(sanitize/sanitize.css);
@import url(fontawesome/css/all.min.css);

// 変数
$sm: 450px;
$tb: 768px;
$pc: 1080px;
$mainPc: 780px;

html{
    scroll-behavior: smooth;
    font-size: 62.5%;

    @media screen and ( max-width: 1080px ){
        font-size: 37.5%;
    }
}

body{
    background-color: #E3E3E3;
    padding: 0;
    margin: 0;

    p{
        padding: 0;
        margin: 0;
    }

    *,*::before, *::after{
        box-sizing: border-box;
    }
    
    a:link, a:visited, a:hover, a:active{
        color: #000;
        text-decoration: none;
    }

    .active{
        display: inline-block;
    }

    // ハンバーガーメニュー
    .Toggle {
        display: none;
        position: fixed;    /* bodyに対しての絶対位置指定 */
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 3;
        right:30px;
        top: 30px;

        @media screen and ( max-width: 1080px ){
            display: inline-block;
        }

        span {
            display: block;
            position: absolute;
            width: 40px;
            border-bottom: solid 4px #333;
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;	
            transition: .35s ease-in-out;		

            &:nth-child(1) {
                top:5px;
            }
            &:nth-child(2) {
                top: 18px;
            }
            &:nth-child(3) {
                top: 32px;
            }
        }
    }
     
    // ハンバーガーメニューアニメーション
    .Toggle.active span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
     
    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
     

    // ヘッダー
    header{
        width: 250px;
        height: 100vh;
        background: #D07D3E;
        position: fixed;

        @media screen and ( max-width: 1080px ){
            width: 100%;
            height: 100vh;
            display: none;
        }

        ul{
            height: 100%;
            padding: 100px 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            li{
                width: 60px;
                height: 60px;
                background: #ffffff;
                // border: 2px solid #000;
                border-radius: 50%;
                box-shadow: 0 0 8px 0 rgba( 0, 0, 0, 0.4 );

                a{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i{
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    // メイン
    main{
        padding-left: 250px;

        @media screen and ( max-width: 1080px ){
            padding: 0;
        }

        .flame{
            padding: 0 25px;
            max-width: $mainPc;
            margin: 0 auto;
            background: #E3E3E3;

            // 共通
            section{

                // 各タイトル
                .title{
                    text-align: center;

                    h2{
                        font-size: 5rem;
                        font-family: 'Pacifico', cursive;
                        padding: 75px 0 25px 0;
                    }
                }
            }

            .top{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 500px;
                    height: 500px;

                    @media screen and ( max-width: 1080px ){
                        width: 80%;
                        height: auto;
                    }
                }
            }

            .about{
                
                &__profile{

                    &--image{
                        padding-bottom: 30px;
                        
                        figure{
                            width: 150px;
                            height: 150px;
                            margin: 0 auto;
                            border-radius: 50%;
                            background-image: url(../images/portfolio1.jpg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }

                    table{
                        font-size: 2rem;
                        margin: 0 auto;

                        @media screen and ( max-width: 1080px ){
                            width: 80%;
                        }

                        tbody{
                            tr{
                                th, td{
                                    text-align-last: left;
                                    padding-bottom: 20px;
                                }
                                th{
                                    padding: 0 30px 0 0;
                                    display: flex;
                                    @media screen and ( max-width: 1080px ){
                                        display: block;
                                    }
                                }
                                td{
                                    @media screen and ( max-width: 1080px ){
                                        display: inline-block;
                                    }
                                    ul{
                                        margin: 0;
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        ///////////////////////////////////////
        // 作品紹介
        ///////////////////////////////////////
        .work{
            
            &__main{

                &--each{
                    max-width: 100%;
                    margin-bottom: 50px;
                    
                    .image{
                        margin: 0;

                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .title{
                        font-size: 2rem;
                        display: inline-block;
                        text-align: left;
                    }
                    .button{
                        width: 100%;
                        padding-top: 10px;
                        text-align: center;
                    }
                }

                // モーダルウィンドウ
                .modalWindow {
                    display: none;
                    position: fixed;
                    z-index: 10; /*サイトによってここの数値は調整 */
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    .modalBackground {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(30,30,30,0.9);
                    }
                    
                    .modalWrapper {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform:translate(-50%,-50%);
                        width: 70%;
                        max-width: 500px;
                        padding: 10px 30px;
                        background-color: #fff;
                        height: 80vh;
                        overflow: scroll;

                        // モーダルウィンドウ　内容
                        .modalContents{
                            font-size: 1.5rem;
                            
                            .image{
                                margin: 0 0 40px 0;

                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .title{
                                font-size: 2rem;
                            }
                            .explanation{
                                padding: 20px;
                                background: #E3E3E3;
                                
                                table{
                                    tr{
                                        th, td{
                                            padding: 5px 0;
                                        }
                                        th{
                                            padding-right: 30px;
                                        }
                                    }
                                }
                            }
                            h4{
                                margin-bottom: 10px;
                                border-bottom: 2px solid #000;
                                font-size: 2rem;   
                            }
                            p{
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .modalClose {
                        position: absolute;
                        top: 0.5rem;
                        right: 1rem;
                        cursor: pointer;
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    ///////////////////////////////////////
    // スキル紹介
    ///////////////////////////////////////
    .skill{

        &__main{
            ul{
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                list-style-type: none;

                li{
                    width: 150px;
                    height: 150px;
                    margin: 15px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-top: 8px solid #E99835;
                    border-left: 8px solid #E99835;
                    border-right: 8px solid #208EC1;
                    border-bottom: 8px solid #208EC1;
                    background: #fff;
                    box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.4 );

                    @media screen and ( max-width: 1080px ){
                        width: 100px;
                        height: 100px;
                    }

                    .title, .name{
                        padding: 0;
                        margin: 0;
                    }

                    .title{
                        font-size: 4rem;
                    }
                    .name{
                        font-size: 2rem;
                        text-align: center;
                    }

                    .front{
                        display: inline-block;
                    }
                    .back{
                        display: none;
                        font-size: 1.5rem;
                        padding: 5px;
                    }
                }



                .html:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .css:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .javascript:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .php:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .mysql:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .adobexd:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .git:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .github:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .jquery:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .bootstrap:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
                .wordpress:hover{
                    .front{
                        display: none;
                    }
                    .back{
                        display: inline-block;
                    }
                }
            }
        }
    }

    ///////////////////////////////////////
    // お問い合わせフォーム
    ///////////////////////////////////////
    .contact{
        width: 80%;
        margin: 0 auto;


        // 入力フォーム text
        &--form{
            font-size: 1.5rem;

            div{
                margin: 50px 0;
                text-align: center;
            }

            .form_input{
                position: relative;
    
                // name email message
                input[type='text'] {
                    font: 15px/24px sans-serif;
                    box-sizing: border-box;
                    width: 100%;
                    letter-spacing: 1px;
                    padding-left: 7rem;
                    &:focus{
                        outline: none;
                    }
                }
                .input{
                    padding: 4px 0;
                    border: 0;
                    border-bottom: 1px solid #1b2538;
                    background-color: transparent;
                }
                .input ~ .input_line {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    transition: 0.4s;
                    background-color: #da3c41;
                }
                .input:focus ~ .input_line,
                .form_input.input ~ .input_line {
                    width: 100%;
                    transition: 0.4s;
                }
                .input ~ label {
                    position: absolute;
                    padding-left: 0px;
                    // z-index: -1;
                    top: 6px;
                    left: 0;
                    transition: 0.3s;
                    letter-spacing: 0.5px;
                    color: #aaaaaa;
                }
                .input:focus ~ label, .form_input.input ~ label {
                    font-size: 12px;
                    top: -16px;
                    transition: 0.3s;
                    color: #da3c41;
                }
            }

            .name{
                margin-top: 0;
            }
            .message{
                margin-bottom: 100px;
            }
            
            // 入力フォーム primary
            .form_dropdown{
    
                select{
                    padding: 0 15px;
                    border: none;
                    border-bottom: 1px solid #000;
                }
            }
    
            // 入力フォーム button
            .form_button{
                input{
                    padding: 0 15px;
                    border: none;
                    background-color: #E3E3E3;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }

    footer{
        height: 50px;
        padding-left: 250px;
        background: #000;

        @media screen and ( max-width: 1080px ){
            padding: 0;
        }

        .flame{
            width: 100%;
            height: 100%;
            max-width: $mainPc;
            margin: 0 auto;
            font-size: 1.2rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

